body {
    overflow: hidden;
}

.window {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
    width: 600px;
    height: 750px;
    position: absolute;
    border: solid #444 3px;
    background-color: #FFF;
}
.window > .tb {
    background-color: #444;
    color: #EEE;
    font-size: small;
    padding: 0 4px 4px 4px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.window > .tb > img.icon {
    float: left;
    padding: 0 5px 0 0;
    height: 21px;
}

.window > .tb > .hide {
    float: right;
    background-image: url("min.ico");
    background-size: contain;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin: 2px;
}

.window > .tb > .maximise {
    float: right;
    cursor: pointer;
    background-image: url("max.ico");
    background-size: contain;
    width: 16px;
    height: 16px;
    margin: 2px;
}

.window > .tb > .close {
    float: right;
    background-image: url("close.ico");
    background-size: contain;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin: 2px;
}

.clear {
    clear: both;
}