html {
    height: 100%;
}
body {
    background: #AAA url("../content/bg.jpg") fixed;
    font-family: 'Segoe UI', Arial, Sans-serif;
    height: 100%;
    margin: 0;
}
.taskbar {
    width: 100%;
    height: 4%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 7px rgba(150, 90, 240, 0.8);
}
.enclosure {
    width: 100%;
    height: 96%;
    z-index: 0;
}
#context {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
#context > ul {
    background-color: rgba(150, 90, 240, 0.3);
    color: #FFF;
    padding: 5px 0;
    margin: 0;
}
#context > ul > li {
    margin: 0;
    padding: 5px 15px 5px 8px;
    font-size: small;
    cursor: pointer;
}
#context > ul > li:hover {
    background-color: rgba(150, 90, 240, 0.8);
}
#debug {
    font-size: 13px;
    color: #FFF;
    line-height: 25px;
    padding: 10px;
    display: block;
    background-color: rgba(150, 90, 240, 0.8);
}
#debug span {
    color: #FFF;
    font-size: 16px;
}
#splash {
    background-color: #000;
    text-align: center;
    vertical-align:middle;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
#splash img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -110px;
    margin-left: -452.5px;
    height: 195px;
}
#modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
