body .win-js-enclosure {
    overflow: hidden;
    position: relative;
    display: block;
}
.win-js-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #171717;
    background-color: rgba(0, 0, 0, 0.7);
}
.win-js-snap {
    position: absolute;
    left: 50%;
    right: 50px;
    top: 50px;
    bottom: 50px;
    width: auto;
    height: auto;
    background-color: rgba(150, 90, 240, 0.1);
    box-shadow: 0 0 7px rgba(150, 90, 240, 0.3);
}
.win-js-window {
    box-shadow: 0 0 7px rgba(150, 90, 240, 0.8);
    border: solid 1px #AAA;
    border: solid 1px rgba(255, 255, 255, 0.6);
    width: 600px;
    height: 750px;
    min-height: 33px;
    min-width: 200px;
    position: absolute;
    margin: 0;
    overflow: hidden;
    border-radius: 4px;
}
.win-js-window.win-js-maxed {
    border-radius: 0px;
}
.win-js-window.win-js-active {
    border: solid 1px #95E;
    border: solid 1px rgba(150, 90, 240, 0.8);
}
.win-js-window > .win-js-border {
    background-color: #B8B8B8;
    background-color: rgba(255,255,255,.4);
    position: absolute;
}
.win-js-window.win-js-maxed > .win-js-border {
    display: none;
}
.win-js-window > .win-js-border-topleft {
    width: 4px; height: 4px;
}
.win-js-window.win-js-resizable > .win-js-border-topleft {
    cursor: nw-resize;
}
.win-js-window > .win-js-border-top {
    left: 4px; right: 4px;
    height: 4px; width: auto;
}
.win-js-window.win-js-resizable > .win-js-border-top {
     cursor: n-resize;
 }
.win-js-window > .win-js-border-topright {
    right: 0;
    width: 4px; height: 4px;
}
.win-js-window.win-js-resizable > .win-js-border-topright {
    cursor: ne-resize;
}
.win-js-window > .win-js-border-bottomleft {
    bottom: 0; left: 0;
    width: 4px; height: 4px;
}
.win-js-window.win-js-resizable > .win-js-border-bottomleft {
    cursor: sw-resize;
}
.win-js-window > .win-js-border-bottom {
    bottom: 0; left: 4px; right: 4px;
    height: 4px; width: auto;
}
.win-js-window.win-js-resizable > .win-js-border-bottom {
    cursor: s-resize;
}
.win-js-window > .win-js-border-bottomright {
    bottom: 0; right: 0;
    width: 4px; height: 4px;
}
.win-js-window.win-js-resizable > .win-js-border-bottomright {
    cursor: se-resize;
}
.win-js-window > .win-js-border-left {
    left: 0; top: 4px; bottom: 4px;
    width: 4px;
}
.win-js-window.win-js-resizable > .win-js-border-left {
    cursor: w-resize;
}
.win-js-window > .win-js-border-right {
    right: 0; top: 4px; bottom: 4px;
    width: 4px;
}
.win-js-window.win-js-resizable > .win-js-border-right {
    cursor: e-resize;
}
.win-js-window > .win-js-main {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    height: auto;
    width: auto;
}
.win-js-window.win-js-maxed > .win-js-main {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.win-js-window > .win-js-main > .win-js-content {
    position: absolute;
    background-color: white;
    height: auto;
    width: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 25px;
}
.win-js-window.win-js-maxed > .win-js-main > .win-js-content {
    top: 29px;
}
.win-js-window > .win-js-main > .win-js-tb {
    background-color: #B8B8B8;
    background-color: rgba(255,255,255,.4);
    color: #181818;
    text-shadow: #FFF 0 0 5px;
    font-size: small;
    cursor: default;
    padding-bottom: 2px;
    height: 23px;
    position: relative;
}
.win-js-window.win-js-maxed > .win-js-main > .win-js-tb {
    height: 27px;
}
.win-js-window.win-js-maxed > .win-js-main > .win-js-tb > img.win-js-icon {
    padding-top: 7px;
    padding-right: 0px;
    padding-left: 9px;
}
.win-js-window.win-js-maxed > .win-js-main > .win-js-tb > .win-js-title {
    padding-top: 8.5px;
    padding-left: 9px
 }
.win-js-window.win-js-maxed > .win-js-main > .win-js-tb > .win-js-staters {
    padding-top: 5px;
    padding-right: 6px;
}
.win-js-window.win-js-movable > .win-js-main > .win-js-tb {
    cursor: url("../content/windows.js/handopen.cur"), default;
}
.win-js-window.win-js-movable.win-js-moving > .win-js-main > .win-js-tb {
    cursor: url("../content/windows.js/handgrab.cur"), default;
}
.win-js-window > .win-js-main > .win-js-tb > img.win-js-icon {
    padding: 3px 6px 8px;
    height: 16px;
    cursor: default;
    float: left;
}
.win-js-window > .win-js-main > .win-js-tb > .win-js-title {
    display: block;
    line-height: 13px;
    padding: 4.5px 4px 10px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.win-js-window > .win-js-main > .win-js-tb > .win-js-staters {
    cursor: default;
    float: right;
    padding-right: 2px;
    padding-bottom: 2px;
}
.win-js-window > .win-js-main > .win-js-tb > .win-js-staters > .win-js-hide {
    display: inline-block;
    background: url("../content/windows.js/min.png") no-repeat 5px 5px;
    background-size: auto 10px;
    cursor: default;
    height: 10px;
    width: 14px;
    padding: 5px;
}
.win-js-window > .win-js-main > .win-js-tb > .win-js-staters > .win-js-hide:hover {
    background-image: url("../content/windows.js/min.hover.png");
}
.win-js-window > .win-js-main > .win-js-tb > .win-js-staters > .win-js-state {
    display: inline-block;
    background: url("../content/windows.js/max.png") no-repeat 5px 5px;
    background-size: 14px;
    cursor: default;
    height: 10px;
    width: 17px;
    padding: 5px;
}
.win-js-window > .win-js-main > .win-js-tb > .win-js-staters > .win-js-state:hover {
    background-image: url("../content/windows.js/max.hover.png");
}
.win-js-window.win-js-maxed > .win-js-main > .win-js-tb > .win-js-staters > .win-js-state {
    background-image: url("../content/windows.js/res.png");
    background-size: 10px;
    width: 14px;
}
.win-js-window.win-js-maxed > .win-js-main > .win-js-tb > .win-js-staters > .win-js-state:hover {
    background-image: url("../content/windows.js/res.hover.png");
}
.win-js-window > .win-js-main > .win-js-tb > .win-js-staters > .win-js-close {
    display: inline-block;
    background: url("../content/windows.js/close.png") no-repeat 5px 5px;
    background-size: auto 10px;
    cursor: default;
    height: 10px;
    width: 10px;
    padding: 5px;
}
.win-js-window > .win-js-main > .win-js-tb > .win-js-staters > .win-js-close:hover {
    background-image: url("../content/windows.js/close.hover.png");
}
.win-js-clear {
    clear: both;
}