body .win-js-enclosure {
    overflow: hidden;
    position: relative;
    display: block;
}
.win-js-window > .win-js-content {
    width: 100%;
}
.win-js-window {
    box-shadow: 0 0 7px rgba(150, 90, 240, 0.8);
    border: solid 1px #444;
    width: 600px;
    height: 750px;
    position: absolute;
    background-color: #444;
    margin: 0;
}
.win-js-window.win-js-maxed {
    
}
.win-js-window.win-js-active {
    border-color: rgba(150, 90, 240, 0.8);
}
.win-js-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #171717;
    background-color: rgba(0, 0, 0, 0.7);
}
.win-js-snap {
    position: absolute;
    left: 50%;
    right: 50px;
    top: 50px;
    bottom: 50px;
    width: auto;
    height: auto;
    background-color: rgba(150, 90, 240, 0.1);
    box-shadow: 0 0 7px rgba(150, 90, 240, 0.3);
}
.win-js-window > .win-js-tb {
    background-color: #444;
    color: #EEE;
    font-size: small;
    cursor: default;
    padding: 1px;
}
.win-js-window.win-js-movable > .win-js-tb {
    cursor: url("../content/windows.js/handopen.cur"), default;
}
.win-js-window.win-js-moving > .win-js-tb {
    cursor: url("../content/windows.js/handgrab.cur"), default;
}
.win-js-window > .win-js-tb > img.win-js-icon {
    float: left;
    padding: 5px 8px 3px 5px;
    height: 16px;
    cursor: default;
}
.win-js-window > .win-js-tb > .win-js-title {
    display: block;
    line-height: 13px;
    padding: 6px 10px;
}
.win-js-window > .win-js-tb > .win-js-staters {
    padding-bottom: 2px;
    padding-right: 4px;
    padding-top: 3px;
    cursor: default;
    float: right;
}
.win-js-window > .win-js-tb > .win-js-staters > .win-js-hide {
    display: inline-block;
    background: url("../content/windows.js/min.png") no-repeat 5px 5px;
    background-size: auto 10px;
    cursor: default;
    height: 10px;
    width: 14px;
    padding: 5px;
}
.win-js-window > .win-js-tb > .win-js-staters > .win-js-hide:hover {
    background-image: url("../content/windows.js/min.hover.png");
}
.win-js-window > .win-js-tb > .win-js-staters > .win-js-state {
    display: inline-block;
    background: url("../content/windows.js/max.png") no-repeat 5px 5px;
    background-size: auto 10px;
    cursor: default;
    height: 10px;
    width: 17px;
    padding: 5px;
}
.win-js-window > .win-js-tb > .win-js-staters > .win-js-state:hover {
    background-image: url("../content/windows.js/max.hover.png");
}
.win-js-window.win-js-maxed > .win-js-tb > .win-js-staters > .win-js-state {
    background-image: url("../content/windows.js/res.png");
    width: 14px;
}
.win-js-window.win-js-maxed > .win-js-tb > .win-js-staters > .win-js-state:hover {
    background-image: url("../content/windows.js/res.hover.png");
}
.win-js-window > .win-js-tb > .win-js-staters > .win-js-close {
    display: inline-block;
    background: url("../content/windows.js/close.png") no-repeat 5px 5px;
    background-size: auto 10px;
    cursor: default;
    height: 10px;
    width: 10px;
    padding: 5px;
}
.win-js-window > .win-js-tb > .win-js-staters > .win-js-close:hover {
    background-image: url("../content/windows.js/close.hover.png");
}
.win-js-clear {
    clear: both;
}